<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="bg-background min-h-screen flex justify-center">
    <div class="container mx-auto px-4">
      <div class="h-40 flex items-center justify-between">
        <svg class="h-newsMedia w-newsMedia">
          <use xlink:href="#NEWSMEDIA"/>
        </svg>
        <button id="addNewArticle" class="btn bg-white rounded-md font-bold text-base text-black py-3 px-5 font-sans leading-none">
          Add New Article
        </button>
      </div>
      
      <!-- cards container -->
      <!-- <div class="grid grid-cols-3 gap-8 pb-16"> -->
        <!-- card -->
        <!-- <div class="newsmedia-card h-card border-cardBorder hover:border-white border focus:border-8 hover:border-3 rounded-md p-8">
          <p class="font-bold text-base text-white">News</p>
          <h3 class="text-white font-bold text-titleCard leading-tight mt-4 focus:underline hover:underline hover:cursor-pointer focus:cursor-pointer">TikTok Challenges, Ranked by How Likely They Are to Maim or Kill You</h3>
          <p class="text-cardDescription leading-tight font-sm mt-4">The "skull breaker" challenge is, somehow, not even the most terrifying thing happening on this app.</p>
          <p class="font-sm text-white mt-4">10.14.19</p>
          <div class="btn btn-close bg-background cursor-pointer rounded-full border border-white hover:bg-white">
            <svg>
              <use xlink:href="#CloseIcon"/>
            </svg>
          </div>
        </div> -->
      </div>
    </div>
  </body>
</html>